body {
  padding: 1rem 0;
}

label {
  cursor: pointer;
}

.table-wrap {
  position: relative;
  max-height: 318px;
  overflow:auto;
}

.overlay{
	width: 100%;
    background: #000;
    opacity: 0.7;
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-content{
	position: absolute;
    width: 100%;
    z-index: 2;
    background: #fff;
    padding: 20px;
}